<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ng-template #carregando>
  <div class="carregando">
    <img src="/assets/load.gif" />
  </div>
</ng-template>
<ion-content [fullscreen]="true">
  <ion-list *ngIf="listaProduto | async as produto; else carregando">
    <ion-item>
      <ion-label style="min-width: 50%">Produto</ion-label>
      <ion-label>Preço</ion-label>
      <ion-label>Validade</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let pro of produto" (ionDrag)="onDrag($event)">
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editar(pro.id)">
          <ion-icon name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deletar(pro.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item (click)="mostrarBotao()">
        <ion-label class="ion-text-wrap" style="min-width: 50%;">{{pro.descricao}}</ion-label>
        <ion-label>{{pro.preco | currency: 'BRL'}}</ion-label>
        <ion-label>{{pro.validade | date: 'shortDate'}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="mostraAdd">
    <ion-fab-button color="secondary" href="cadastro">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>