RewriteEngine On

Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Origin "produto/excluir.php?id=$1 [NC,L]"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Headers: "Origin, Content-Type, Accept, Authorization, X-Request-With"
Header add Access-Control-Allow-Credentials: "true"

RewriteRule ^contar?$                       contar.php [NC,L]
RewriteRule ^auth?$                         auth.php [NC,L]
RewriteRule ^produto/?$                     produto/listar.php [NC,L]
RewriteRule ^produto/inserir/?$             produto/inserir.php [NC,L]
RewriteRule ^produto/([0-9-]+)/?$           produto/consultar.php?id=$1 [NC,L]
RewriteRule ^produto/alterar/?$             produto/alterar.php [NC,L]
RewriteRule ^produto/excluir/([0-9-]+)/?$   produto/excluir.php?id=$1 [NC,L]