<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Cadastro de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">
    <form>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input type="text" placeholder="Digite a descrição" name="descricao" [(ngModel)]="produto.descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input type="number" placeholder="Digite o preço" name="preco" [(ngModel)]="produto.preco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Validade</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" placeholder="Selecione a Validade" name="validade" max="2030" [(ngModel)]="produto.validade"></ion-datetime>
      </ion-item>
      <ion-button (click)="salvar()">
        Salvar
      </ion-button>
    </form>
  </div>
</ion-content>
